set_var EASYRSA                 "$PWD"
set_var EASYRSA_PKI             "$EASYRSA/pki"
set_var EASYRSA_DN              "cn_only"
set_var EASYRSA_REQ_COUNTRY     "MY"
set_var EASYRSA_REQ_PROVINCE    "Kuala_Lumpur"
set_var EASYRSA_REQ_CITY        "Kuala_Lumpur"
set_var EASYRSA_REQ_ORG         "My Organization Name"
set_var EASYRSA_REQ_EMAIL       "john_doe@example.com"
set_var EASYRSA_REQ_OU          "My Organization Unit"
set_var EASYRSA_KEY_SIZE        2048
set_var EASYRSA_ALGO            rsa
set_var EASYRSA_CA_EXPIRE       3650
set_var EASYRSA_CERT_EXPIRE     365
set_var EASYRSA_NS_SUPPORT      "no"
set_var EASYRSA_NS_COMMENT      "Easy-RSA Generated Certificate"
set_var EASYRSA_EXT_DIR         "$EASYRSA/x509-types"
set_var EASYRSA_SSL_CONF        "$EASYRSA/openssl-easyrsa.cnf"
set_var EASYRSA_DIGEST          "sha256"
set_var EASYRSA_BATCH           "yes"
